
{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("add")}-->
<button data-modal='{:url("add")}' data-title="添加Banner图" class='layui-btn layui-btn-sm layui-btn-primary'>添加Banner图</button>
<!--{/if}-->
<!--{if auth("remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" data-confirm="确定要删除这些Banner图吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除Banner图</button>
<!--{/if}-->
{/block}
{block name="content"}
<div class="layui-tab layui-tab-card think-bg-white table-block">
    <ul class="layui-tab-title">
        {foreach ['all'=>'Banner图列表','recycle'=>''] as $k=>$v}
        {if isset($type) and $type eq $k}
        <li data-open="{:url('index')}?type={$k}" class="layui-this">{$v}</li>
        {else}
        <li data-open="{:url('index')}?type={$k}">{$v}</li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content think-box-shadow table-block table-block">
        {include file='rencaicate/index_search'}
        <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
            </th>
            <th class='text-center' style="width:30px"></th>
            <th style="width:230px"></th>
            <th class='layui-hide-xs' style="width:180px"></th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='list-table-sort-td'>
                <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input">
            </td>
            <td class='text-center'></td>
            <td>{$vo.title}</td>
            <td><img id="" src="{$vo.img}" style="max-width:60px" alt="" /></td>
            <td class='text-center nowrap'>{eq name='vo.status' value='0'}<span class="color-red">已禁用</span>{else}<span class="color-green">使用中</span>{/eq}</td>
            <td class='text-center nowrap notselect'>
                <!--{if auth("edit")}-->
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="编辑菜单" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
                <!--{/if}-->
                <!--{if $vo.status eq 1 and auth("state")}-->
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-confirm="确定要禁用Banner图吗？" data-action="{:url('state')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('state')}">禁 用</a>
                <!--{/if}-->
                <!--{if $vo.status eq 0 and auth("state")}-->
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('state')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('state')}">启 用</a>
                <!--{/if}-->

                <a class="layui-btn layui-btn-xs layui-btn-danger"data-confirm="确定要删除该Banner图吗？"  data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('remove')}">删 除</a>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
